@import "partials/_variables";

main{
    background-color: $primary-background;
    padding-top: 20px;
    
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    padding: 20px;
  }
  
  .gallery-item {
    max-width: 1000px; /* Adjust the max width as needed */
    width: 100%;
    height: auto;
    border: black solid 3px;
  }
  
  .description {
    padding: 20px;
    background-color: $secondary-background;
    color: white;
    text-align: center;

  }
  